body {
  padding-top: 50px;
  padding-bottom: 50px;
}

.main {
  display: flex;
}

.login label {
	width: 75px;
}

.register label {
	width: 75px;
}

.pwq {
	text-align: center;
	margin-left: 10px;
	padding: 5px;
	width: 75px;
	height: 20px;
}

.types {
	width: 105px;
	flex-shrink: 0;
	flex-basis: 105px;
}

.traits {
	width: 100px;
	flex-shrink: 0;
	flex-basis: 150px;
}

label {
	width: 120px;
}

.devicerow {
	padding: 5px;
	margin: 1px;
	border: 1px solid;
}

.device {
	display: flex;
}

.deviceName {
	flex-shrink: 0; 
	flex-basis: 200px;
	width: 200px;
	order: 1;
}

.room {
	flex-shrink: 0;
	flex-basis: 200px;
	width: 200px;
	order: 2
}

.deviceDescription {
	flex-shrink: 0;
	flex-basis: 200px;
	width: 200px;
	order: 3;
}

.deviceActions {
	order: 4;
	display: flex;
	flex-wrap: wrap;
}

.action {
	width: 40px;
	height: 40px;
  margin-right: 2px;
}

.deviceTypeIcon {
	width: 40px;
	height: 40px;
}

#friendlyName {
	width: 280px;
}

#roomHint {
	width: 280px;
}

#editor {
	margin: 0px;
	width: 450px;
	height: 500px;
}

#wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
}

#leftHandSide {
	order: -1;
	flex-basis: 400px;
	flex-shrink: 0;
}

#rightHandSize {
	order: 1;
	flex-basis: 500px;
	flex-shrink: 0;
}

.toggle {
	cursor: help;
}