<% include ../fragments/header.ejs %>
  <div class="container main-content">
    <h1>About</h1>
    <p>You can read about the creation of this service <a href="https://www.hardill.me.uk/wordpress/2019/01/">here</a></p>

    <h2>Questions and Bugs</h2>
    <p>If you just have a general question then probably best to try and find me (hardilllb) on the <a href="http://nodered.org/slack">Node-RED Slack team</a> in 
    the #google-home-assistant channel.</p>
    <p>If you have a bug with the service please raise an issue on github <a href="https://github.com/hardillb/node-red-contrib-googlehome-web/issues">here</a></p>

    <h2>Thanks</h2>
    <p>If on the other hand you just want to say thanks, you can always throw a few quid my way to buy me a beer via <a href="https://paypal.me/hardillb/10"><img src="/images/paypal.svg" style="width: 20px; height: 20px;" alt="paypal">  paypal</a></p>
    <p>If you are feeling super generous then you could always <a href="https://github.com/sponsors/hardillb">sponsor</a> me on GitHub. For $1 a month 
    you can help me keep working on these types of projects and keep them free to use.</p>

    <h2>Alexa</h2>
    <p>If you are looking for a similar service for the Amazon Alexa platform, you can find that service <a href="https://alexa-node-red.bm.hardill.me.uk/">here</a>.</p>

    <h2>Privacy Policy</h2>
    <p>No information held by this sevice will be shared with 3rd parties, with the exception of the oAuth
    tokens required to link with Google Assistant.</p>
    <p>Email addresses will only be used for comunication about the operaton of the service</p>

    <h2>Acknowledgements</h2>
    <p>This site makes use of some of <a href="https://fontawesome.com/">Fontawesome</a>'s icons under the <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons</a> license.</p>

  </div
<% include ../fragments/footer.ejs %>
