<% include ../fragments/header.ejs %>
<div class="container main">
	<nav class="side-menu">
    <ul class="nav nav-pills nav-stacked">
      <li><a href="#createAccount">Create Account</a></li>
      <li><a href="#linkAccount">Link Account</a></li>
      <li><a href="#installNodes">Install Nodes</a></li>
      <li><a href="#configNodes">Configure Nodes</a></li>
    	<li><a href="#buildFlows">Building Flows</a></li>
  	</ul>
  </nav>

	<div class="container main-content">
		<h1>Documentation</h1>
		<p>Welcome to the documentation for the Google Assistant Smart Home Action Node-RED node.</p>

		<h2 id="createAccount">Create Account</h2>
		<p>Before starting you will need to create an account, if you have not yet done this you can 
			do this <a href="/register" target="_blank">here</a>.</p>
 
		<h2 id="linkAccount">Link Account</h2>
		<p>Now you have and account you can enable action in the Google Home app and link the account 
		you've just created.</p> 

		<h2 id="installNodes">Install Nodes</h2>
		<p></p>

		<h2 id="configNodes">Configure Nodes</h2>
		<p></p>

		<h2 id="buildFlows">Building Flows</h2>
		<p></p>

	</div>
</div>
<% include ../fragments/footer.ejs %>