<% include ../fragments/header.ejs %>
<div class="container main-content">
<h1>Node-RED Google Home Bridge</h1>
<h2 style="color: red;">In CLOSED BETA, please be patient.</h2>
<p>This site is the entry point for using the <a href="https://npmjs.org/package/node-red-contrib-googlehome">node-red-contrib-googlehome</a>
to allow <a href="http://nodered.org">Node-RED</a> as a collection of smart home devices</p>
</div>
<% include ../fragments/footer.ejs %>